@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
    background-color: #0c1477;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 100%;
    
}

/* header */
#wrapper header {
    margin-bottom: 50px;
}
#wrapper header #login_logo h1 {
    border-top: 1px solid black;    
}
#wrapper header #login_logo h1 img {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 10%;
    height: auto;
}

/* nav */
nav #login_box {
    width: 300px;
    height: 32vh;
    background-color: rgb(240, 240, 240);
    margin: 60px auto;
    border-radius: 2%;
}
nav #login_box #login_txt {
    padding-top: 3vh;
}
nav #login_box #login_txt p {
    font-size: small;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
}

nav #login_box #login_name {
    margin-top: 2vh;
}

nav #login_box .main_login input {
    display: block;
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1vh;
}

nav #login_box .main_login #password {
    text-align: center;
    width: 25vh;
}
nav #login_box .main_login #name {
    text-align: center;
    width: 25vh;
}

nav #login_box #saveNum {
    height: 1vh;
    width: 120px;
    margin-left: 40vw;
    margin-bottom: 40px;
    font-size: small;
    font-family: 'NanumBarunGothic', sans-serif;
}

nav #login_box #login_sign_up button {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #0c1477;
    color: white;
    border-radius: 50px; 
    padding: 10px 20px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size:0.8em;
}

/* 반응형 */
/* Iphone SE */
@media screen and (max-height: 668px) { 
    nav #login_box {
        height: 40vh;
    }
    #wrapper header #login_logo h1 img {
        width: 55%;
        display: block;
        margin: 0 auto;
        padding-top: 60px;
    }
    nav #login_box #saveNum {
        margin-left: 60px;
        margin-bottom: 45px;
    }
}
/* Iphone XR */
@media screen and (min-height: 670px)and (max-height: 897px) { 
    nav #login_box #saveNum {
        margin-left: 40px;
    }
}
/* 갤럭시 s8+ */
@media screen and (min-height: 720px) and (max-height: 741px) { 
    nav #login_box {
        width: 75vw;
        height: 35vh;
        background-color: rgb(240, 240, 240);
        margin: 60px auto;
        border-radius: 2%;
    }
    #wrapper header #login_logo h1 img {
        width: 55%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
}
/* 삼성 갤럭시 S20 ULTRA */
@media screen and (min-height: 780px) and (max-height: 915px) { 
    nav #login_box #saveNum {
        margin-left: 40px;
    }
}
/* Ipad air*/
@media screen and (min-height: 1026px) and (max-height: 1181px) { 
    #wrapper header #login_logo h1 img {
        width: 35%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
    nav #login_box {
        width: 60vw;
        height: 25vh;
    }
    nav #login_box #saveNum {
        margin-left: 65px;
    }
    nav #login_box .main_login #password {
        width: 30vh;
    }
    nav #login_box .main_login #name {
        width: 30vh;
    }
}
/* Ipad mini */
@media screen and (min-height: 1000px) and (max-height: 1025px) { 
    #wrapper header #login_logo h1 img {
        width: 40%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
    nav #login_box {
        width: 50vw;
        height: 30vh;
    }
    nav #login_box #saveNum {
        margin-left: 35px;
    }
    nav #login_box .main_login #password {
        width: 30vh;
    }
    nav #login_box .main_login #name {
        width: 30vh;
    }
} 
/* 갤럭시 폴드 */
@media screen and (min-height: 650px) and (max-height: 654px) { 
    #wrapper header #login_logo h1 img {
        width: 70%;
        height: 70%;
        padding-top: 50px;
    }
    nav #login_box #saveNum {
        margin-left: 40px;
    }
    nav #login_box {
        width: 90vw;
    }
}
/* web */ 
@media screen and (min-width: 1900px)and (max-width: 1925px) { 
    /* header */
    #wrapper header #login_logo h1 img {
        padding-top: 120px;
        min-width: 300px;
    }
    nav #login_box {
        height: 35vh;
        width: 30vw;
    }
    input {
        font-size: 1em;
    }
    nav #login_box #login_sign_up button {
        padding: 10.5px 70px;
        font-family: 'NanumBarunGothic', sans-serif;
        font-size: 1.5em;
    }
    nav #login_box #saveNum {
        margin-left: 115px;
        margin-bottom: 6.5vh;
    }
    body {
        background-color: #0c1477;
    }
    nav #login_box .main_login #password {
        width: 35vh;
    }
    nav #login_box .main_login #name {
        width: 35vh;
    }
}
