@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 100%;
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;
    text-align: center;
    
} 
header h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
    line-height: 10vh;
}

/* nav */
nav {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
nav  h2 {
    font-size: 2em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

/* icon */
#icon {
    height: 10vh;
}
#icon #box #dateicon {
    display: block;
    text-align: center;
    margin-top: 5vh;
}

/* date */
#input_date {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 45vh;
}
#input_date h1 {
    font-family: 'NanumBarunGothic', sans-serif;
    margin-bottom: 3vh;
}
#input_date input {
    width: 80vw;
}

/* btn */
#btn #submit{
    width: 80vw;
    height: 5vh;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
}


/* Ipad */
@media screen and (min-height: 920px) and (max-height: 1181px) { 
    #input_date {
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 25vh;
    }
    #input_date h1 {
        font-family: 'NanumBarunGothic', sans-serif;
        margin-bottom: 3vh;
    }
    #input_date input {
        width: 80vw;
    }
}
