@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 100%;
    background-color: #0c1477;
}

/* header */
#wrapper header {
    margin-bottom: 50px;
}
#wrapper header #login_logo h1 {
    border-top: 1px solid black;    
}
#wrapper header #login_logo h1 img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 100px;
}

/* nav */
nav #login_box {
    width: 75vw;
    height: 32vh;
    background-color: rgb(240, 240, 240);
    margin: 60px auto;
    border-radius: 2%;
}
nav #login_box #login_txt {
    padding-top: 3vh;
}
nav #login_box #login_txt p {
    font-size: small;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
}

nav #login_box #login_name {
    margin-top: 2vh;
}

nav #login_box .main_login input {
    display: block;
    padding: 10px 0;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 1vh;
}

nav #login_box .main_login #user_id {
    text-align: center;
}
nav #login_box .main_login #user_name {
    text-align: center;
}

nav #login_box #saveNum {
    height: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: small;
    font-family: 'NanumBarunGothic', sans-serif;
}

nav #login_box #login_sign_up button {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #0c1477;
    color: white;
    border-radius: 50px; 
    padding: 10px 20px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size:0.8em;
}

/* 팝업 */
  .popup-wrap{
    justify-content:center;
    align-items:center;    
    position:fixed;        
    top:0;
    left:0;
    right:0;
    bottom:0;               
    display:flex;
    padding:15px; 
  }
  /* 실제 팝업 */
  .popup{
  	position:relative;
  	/*z-index:10;*/
  	margin:0 auto;
  	margin-bottom:10vh;
    width:60vw;
    height:23vh;
    /*line-height:23vh;*/
    border-radius:10px;
    background-color:#ffffff;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);   
  }
  

 /* 팝업 텍스트 들어가는 배경 */
  .popup-body{
  	margin:0 auto;
    width:80%;
    height:16vh;
    background-color:#ffffff;
  }
  /* 글씨 콘텐츠 감싸는 box */
  .body-content{
	text-align:center;
  	width:100%;
    padding:22% 0px;
  }
  /* 글씨 */
  .body-content p {
  	width:100%;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  .body-content #p_one {
  	width:100%;
    margin-bottom: 1vh;
    font-size: 2em;
    font-weight: bold;
}

  /* footer */
  .popup-foot{
  	border-radius: 0px 0px 10px 10px;
  	background-color:#0c1477;
    width:100%;
    height:7vh;
    text-align: center;
  }
  .popup-foot button{
  	border:none;
  	padding:0;
    text-align: center;
    background-color:#0c1477;
    color: white;
    height:6.5vh;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  
  #bg {
  	background-color:rgba(0,0,0,.3);
  	position:fixed;
  	top:0;
  	left:0;
    right:0;
    bottom:0;
  	
}
/* 반응형 */
/* Iphone SE */
@media screen and (max-height: 668px) { 
    nav #login_box {
        height: 40vh;
    }
    #wrapper header #login_logo h1 img {
        width: 55%;
        display: block;
        margin: 0 auto;
        padding-top: 60px;
    }
    nav #login_box #saveNum {
        margin-left: 50px;
        margin-bottom: 45px;
    }

	.body-content{
		padding:15% 0px;
	}
}
/* 갤럭시 s20 ultra */
@media screen and (min-height: 720px) and (max-height: 741px) { 
    nav #login_box {
        width: 75vw;
        height: 35vh;
        background-color: rgb(240, 240, 240);
        margin: 60px auto;
        border-radius: 2%;
    }
    #wrapper header #login_logo h1 img {
        width: 55%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
}
/* Ipad air*/
@media screen and (min-height: 1026px) and (max-height: 1181px) { 
    #wrapper header #login_logo h1 img {
        width: 35%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
    nav #login_box {
        width: 60vw;
        height: 25vh;
    }
    nav #login_box #saveNum {
        margin-left: 65px;
    }
    nav #login_box .main_login #password {
        width: 30vh;
    }
    nav #login_box .main_login #name {
        width: 30vh;
    }
    .body-content{
	    padding:17% 0px;
  	}
}
/* Ipad mini */
@media screen and (min-height: 1000px) and (max-height: 1025px) { 
    #wrapper header #login_logo h1 img {
        width: 40%;
        display: block;
        margin: 0 auto;
        padding-top: 70px;
    }
    nav #login_box {
        width: 50vw;
        height: 30vh;
    }
    nav #login_box #saveNum {
        margin-left: 35px;
    }
    nav #login_box .main_login #password {
        width: 30vh;
    }
    nav #login_box .main_login #name {
        width: 30vh;
    }
    .body-content{
	    padding:15% 0px;
  	}
} 
/* 삼성 갤럭시 8+ */
@media screen and (min-height: 668px) and (max-height: 741px) { 
    .body-content #p_one {
	    font-size: 1.7em;
	}
}
/* 갤럭시 폴드 */
@media screen and (min-height: 650px) and (max-height: 654px) { 
    #wrapper header #login_logo h1 img {
        width: 70%;
        height: 70%;
        padding-top: 50px;
    }
    nav #login_box #saveNum {
        margin-left: 40px;
    }
    nav #login_box {
        width: 90vw;
    }
    .body-content{
    	padding:24% 0px;
  	}
    .body-content #p_one {
    	font-size: 1.5em;
    }
}
/* web */ 
@media screen and (min-width: 1900px)and (max-width: 1925px) { 
    #wrapper header #login_logo h1 img {
        width: 20%;
        height: 20%;
        display: block;
        margin: 0 auto;
        padding-top: 50px;
    }
    nav #login_box {
        height: 35vh;
        width: 30vw;
    }
    input {
        font-size: 1em;
    }
    nav #login_box #login_sign_up button {
        padding: 10.5px 70px;
        font-family: 'NanumBarunGothic', sans-serif;
        font-size: 1.5em;
    }
    nav #login_box #saveNum {
        margin-left: 115px;
        margin-bottom: 6.5vh;
    }
    body {
        background-color: #0c1477;
    }
    nav #login_box .main_login #password {
        width: 35vh;
    }
    nav #login_box .main_login #name {
        width: 35vh;
    }
}