@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    /* height: 100%; */
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;
    text-align: center;
    
} 
header h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
    line-height: 10vh;
}

/* nav */
nav {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
nav  h2 {
    font-size: 2em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

/* 버스 정보 */
#bus_info {
    height: 20vh;
}
#bus_info #date {
    font-size: 1.5em;
    margin-bottom: 1vh;
    margin-top: 4.5vh;
    margin-left: 7vw;
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
}
#bus_info #locate {
    font-size: 1.7em;
    margin-bottom: 1vh;
    margin-left: 7vw;
    font-family: 'NanumBarunGothic', sans-serif;
}
#bus_info #price {
    font-size: 2em;
    margin-left: 7vw;
    font-family: 'NanumBarunGothic', sans-serif;
}

/* 주문정보 */
#explain {
    height: 8vh;
    padding-top: 3vh;
}
#explain #explain_title {
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-left: 7vw;
    margin-bottom: 2vh;
}
#explain #text {
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-left: 7vw;
}

/* 이용안내 */
#guide {
    height: 20vh;
    padding-top: 3vh;
    margin-bottom: 20vh;
}
#guide #guide_title {
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-left: 7vw;
}
#guide #p_1 {
    font-size: 0.8em;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-left: 7vw;
    margin-top: 2vh;

}
#guide #p_2 {
    font-size: 0.8em;
    font-family: 'NanumBarunGothic', sans-serif;
    margin-left: 7vw;
    margin-top: 1.5vh;
}

/* btn */
footer a {
    text-decoration: none;
}
footer #pay {
    width: 80vw;
    height: 5vh;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
}

/* 반응형 */
/* Ipad air*/
@media screen and (min-height: 920px) and (max-height: 1181px) { 
    #guide {
        height: 15vh;
        margin-bottom: 1vh;
    }
}
/* Ipad mini */
@media screen and (min-height: 1000px) and (max-height: 1025px) { 
    #guide {
        height: 15vh;
        margin-bottom: 10vh;
    }
}
/* Iphone SE */
@media screen and (max-height: 667px) { 
    #bus_info {
        margin-bottom: 4vh;
    }
    #bus_info #date {
        font-size: 1.4em;
        margin-top: 5vh;
    }
    #bus_info #locate {
        font-size: 1.5em;
    }
    #bus_info #price {
        font-size: 1.7em;
    }
    #guide {
        height: 10vh;
        margin-bottom: 25vh;
    }
    header h1 {
        font-size: 1.2em;
    }
    nav  h2 {
        font-size:1.5em;
    }
}
/* 삼성 갤럭시 8+ */
@media screen and (min-height: 668px) and (max-height: 741px) { 
    #bus_info {
        margin-bottom: 3vh;
    }
    #bus_info #date {
        font-size: 1.4em;
        margin-top: 5vh;
    }
    #bus_info #locate {
        font-size: 1.5em;
    }
    #bus_info #price {
        font-size: 1.7em;
    }
    #guide {
        height: 10vh;
        margin-bottom: 25vh;
    }
    nav  h2 {
        font-size:1.5em;
    }
}
/* 갤럭시 폴드 */
@media screen and (min-height: 600px) and (max-height: 654px) { 
    #explain #text {
        font-size: 0.8em;
    }
    #guide #p_1 {
        font-size: 0.5em;
    }
    #guide #p_2 {
        font-size: 0.5em;
    }
}