@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 100%;
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;   
} 
header h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
    line-height: 10vh;
    text-align: center;
}
header .material-icons-round {
	position:absolute;
	height: 9vh;
	color: white;
	background-color: #0c1476;
	float : left;
	line-height: 10vh;
	padding-left : 3vh;
	border: 0px;
}

/* nav */
nav {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
nav  h2 {
    font-size: 2em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

/* icon */
#icon {
    height: 7vh;
}
#icon #box #dateicon {
    display: block;
    text-align: center;
    margin-top: 5vh;
}

/* date */
#input_date {
    text-align: center;
    margin-top: 7vh;
    margin-bottom: 1vh;
}
#input_date h1 {
    font-family: 'NanumBarunGothic', sans-serif;
    margin-bottom: 3vh;
}
#input_date input {
    width: 80vw;
}
#input_date #last_seat {
	font-family: 'NanumBarunGothic', sans-serif;
	margin-top: 2vh;
	margin-bottom: 40vh;
	margin-left: 27.5vh;
}

#seat {
    width: 30vw;
    height: 3vh;
    margin-left: 70vw;
    margin-bottom: 40vh;
    display: flex;
}
#seat h1 {
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 0.8em;
}
#seat span {
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 0.8em;
    margin-left: 1vw;
}

/* btn */
#btn #submit{
    width: 80vw;
    height: 5vh;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
}

/* Ipad */
@media screen and (min-height: 920px) and (max-height: 1181px) { 
    #input_date {
        text-align: center;
        margin-top: 5vh;
    }
    #input_date h1 {
        font-family: 'NanumBarunGothic', sans-serif;
        margin-bottom: 3vh;
    }
    #input_date input {
        width: 80vw;
    }
    #seat {
        width: 30vw;
        height: 3vh;
        margin-left: 80vw;
        margin-bottom: 45vh;
        display: flex;
    }
    #seat h1 {
        font-family: 'NanumBarunGothic', sans-serif;
        font-size: 0.8em;
    }
    #seat span {
        font-family: 'NanumBarunGothic', sans-serif;
        font-size: 0.8em;
        margin-left: 1vw;
    }
    #icon {
        height:7vh;
    }
}


/* 팝업 */
  
  /* 실제 팝업 */
  .popup{
  	position:relative;
  	/*z-index:10;*/
  	margin:0 auto;
  	margin-bottom:10vh;
    width:60vw;
    height:23vh;
    /*line-height:23vh;*/
    border-radius:10px;
    background-color:#ffffff;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);   
  }
  .popup-wrap{
    justify-content:center;
    align-items:center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    padding:15px; 

  }

 /* 팝업 텍스트 들어가는 배경 */
  .popup-body{
  	margin:0 auto;
    width:80%;
    height:16vh;
    background-color:#ffffff;
  }
  /* 글씨 콘텐츠 감싸는 box */
  .body-content{
	text-align:center;
  	width:100%;
    padding:18% 0px;
  }
  /* 글씨 */
  .body-content p {
  	width:100%;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  .body-content #p_one {
  	width:100%;
    margin-bottom: 1vh;
    font-size: 2em;
    font-weight: bold;
}

  /* footer */
  .popup-foot{
  	border-radius: 0px 0px 10px 10px;
  	background-color:#0c1477;
    width:100%;
    height:7vh;
    text-align: center;
  }
  .popup-foot button{
  	border:none;
  	padding:0;
    text-align: center;
    background-color:#0c1477;
    color: white;
    height:6.5vh;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  
  #bg {
  	background-color:rgba(0,0,0,.3);
  	position:fixed;
  	top:0;
  	left:0;
    right:0;
    bottom:0;
  	
}
/* Iphone SE */
@media screen and (max-height: 668px) {
  .popup-foot{
  	margin-top:2.5vh;
  }
  #input_date #last_seat {
	margin-left: 32vh;
}
}

/* S8+ */
@media screen and (min-height: 668px) and (max-height: 741px) { 
  .popup-foot{
  	margin-top:2vh;
  }
}

/* Ipad air*/
@media screen and (min-height: 920px) and (max-height: 1181px) { 
  .body-content #p_one {
    font-size: 3em;
  }
  .popup-foot{
  	margin-top:5vh;
  }
  .popup-foot button{
  	margin-top:2px;  
  	font-size: 1.3em;
  }
  #input_date #last_seat {
	margin-left: 48vh;
}
}

/* Ipad mini */
@media screen and (min-height: 1000px) and (max-height: 1025px) { 
  .popup-foot{
  	margin-top:4vh;
  }
  .body-content{
    padding:15% 0px 18% 0px;
  }
  #input_date #last_seat {
	margin-left: 52vh;
}

}
/* 갤럭시 폴드 */
@media screen and (min-height: 600px) and (max-height: 654px) { 
  .body-content #p_one {
    font-size: 1.5em;
    margin-top:2vh;
  }
  #input_date #last_seat {
	margin-left: 22vh;
}
}
/* web */ 
@media screen and (min-width: 1900px)and (max-width: 1925px) { 
  .body-content #p_one {
	font-size: 2.5em;
    margin-top:1px;
    margin-bottom:70px;
}
  .popup{
	width:500px;
}
  .body-content{
    padding:10% 0px;
  }
  .popup-foot{
  	margin-top:2vh;
  }
  #input_date #last_seat {
	margin-left: 150vh;
}
}
