@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    /* height: 100%; */
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;
} 
header h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
    line-height: 10vh;
    text-align: center;
}
header .material-icons-round {
	position:absolute;
	height: 9vh;
	color: white;
	background-color: #0c1476;
	float : left;
	line-height: 10vh;
	padding-left : 3vh;
	border: 0px;
}

/* nav */
nav {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
nav  h2 {
    font-size: 2em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

#inputWho {
    width: 100%;
    text-align: center;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}
#inputWho h3 {
    font-size: 1.5em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

/* 버스 정보 */
#bus_info {
    height: 20vh;
}
#bus_info #date {
    font-size: 1.5em;
    margin-bottom: 1vh;
    margin-top: 4.5vh;
    margin-left: 7vw;
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
}
#bus_info #locate {
    font-size: 1.7em;
    margin-bottom: 1vh;
    margin-left: 7vw;
    font-family: 'NanumBarunGothic', sans-serif;
}
#bus_info #price {
    font-size: 2em;
    margin-left: 7vw;
    font-family: 'NanumBarunGothic', sans-serif;
}

input::placeholder {
    color: rgb(70, 70, 70);
  }
input{
    border: 1px solid rgb(141, 141, 141);
    border-radius: 3px;
    font-size: 0.8em;
    width: 80vw;
    height: 5vh;
    display: block;
    margin: 0 auto;
    padding-left: 1vh;
    font-family: 'NanumBarunGothic', sans-serif;
}
#input_box {
    width: 100%;
    height: 43vh;
}
#name {
    margin-bottom: 5vh;
}
#StudentID {    
    margin-top: 5vh;
    margin-bottom: 1vh;
}

#department #ex {
    width: 80vw;
    margin: 0 auto;
}
#department #ex p {
    font-size: small;
    display: inline-block;
    font-family: 'NanumBarunGothic', sans-serif;
}

#department #ex p #sec {
    float: right    
}

footer a {
    text-decoration: none;
}
footer #pay {
    width: 80vw;
    height: 5vh;
    border-radius: 3px;
    background-color: #e0e0e0;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
}

/* 반응형 */
/* Ipad air*/
@media screen and (min-height: 920px) and (max-height: 1181px) { 
    #guide {
        height: 15vh;
        margin-bottom: 1vh;
    }
    #bus_info #date {
        margin-top: 3vh;
    }
    #bus_info {
        height: 15vh;
    }
    #inputWho {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
    #input_box {
        width: 100%;
        height: 30vh;
    }
    header {
        height: 8vh;
    } 
    header h1 {
        line-height: 8vh;
    }
    header .material-icons-round{
        height:8vh;
        line-height: 8vh;
    }
}
/* Ipad mini */
@media screen and (min-height: 1000px) and (max-height: 1025px) { 
    #guide {
        height: 15vh;
        margin-bottom: 10vh;
    }
    #input_box {
        height: 35vh;
    }
    #inputWho {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}
/* Iphone SE */
@media screen and (max-height: 667px) { 
    #bus_info {
        margin-bottom: 4vh;
    }
    #bus_info #date {
        font-size: 1.4em;
        margin-top: 5vh;
    }
    #bus_info #locate {
        font-size: 1.5em;
    }
    #bus_info #price {
        font-size: 1.7em;
    }
    #guide {
        height: 10vh;
        margin-bottom: 25vh;
    }
    header h1 {
        font-size: 1.2em;
    }
    header .material-icons-round{
        line-height: 1.2em;
    }
    nav  h2 {
        font-size:1.5em;
    }
    #input_box {
        width: 100%;
        height: 38vh;
    }
}
/* 삼성 갤럭시 8+ */
@media screen and (min-height: 668px) and (max-height: 741px) { 
    #bus_info {
        margin-bottom: 3vh;
    }
    #bus_info #date {
        font-size: 1.4em;
        margin-top: 5vh;
    }
    #bus_info #locate {
        font-size: 1.5em;
    }
    #bus_info #price {
        font-size: 1.7em;
    }
    #guide {
        height: 10vh;
        margin-bottom: 25vh;
    }
    nav  h2 {
        font-size:1.5em;
    }
    #input_box {
        width: 100%;
        height: 40vh;
    }
}
/* 갤럭시 폴드 */
@media screen and (min-height: 600px) and (max-height: 654px) { 
    #explain #text {
        font-size: 0.8em;
    }
    #guide #p_1 {
        font-size: 0.5em;
    }
    #guide #p_2 {
        font-size: 0.5em;
    }
}
/* web */ 
@media screen and (min-width: 1900px)and (max-width: 1925px) { 
    #inputWho {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
    #inputWho h3 {
        font-size: 1.8em;
    }
    #input_box {
        width: 100%;
        height: 35vh;
    }
    #bus_info #date {
        margin-top: 5vh;
    }
    #bus_info {
        height: 20vh;
    }
}
