@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
   
   @font-face {
   	font-family: 'Material Icons';
  	font-style: normal;
  	src: url(https://example.com/material-symbols.woff) format('woff');
	}
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 100%;
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;
}
header #header_main {
    height: 10vh;
    background-color: #0c1476;
    line-height: 10vh;
}

header #header_main h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
    text-align: center;
}

header #header_main .material-icons-round {
	position:absolute;
	height: 9vh;
	color: white;
	background-color: #0c1476;
	float : left;
	line-height: 10vh;
	padding-left : 3vh;
	border: 0px;
}

/* nav */
#nav {
    height: 30vh;
}
#nav #nav_title {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
#nav #nav_title h2 {
    font-size: 2em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    text-align: center;
    letter-spacing: 0.5vw;
}

#nav #nav_btn #Button1 {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #0c1477;
    color: white;
    border-radius: 50px; 
    padding: 12px 100px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
}
#nav #nav_btn #Button2 {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #6e6e6e;
    color: white;
    border-radius: 50px; 
    padding: 12px 100px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
}
#nav #nav_btn #Button3 {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #6e6e6e;
    color: white;
    border-radius: 50px; 
    padding: 12px 100px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
}
#nav #nav_btn #Button4 {
    margin: 0 auto;
    display: block;
    border: 0px;
    background-color: #6e6e6e;
    color: white;
    border-radius: 50px; 
    padding: 12px 100px;
    font-family: 'NanumBarunGothic', sans-serif;
    font-size: 2em;
    font-weight: bold;
    margin-top: 10vh;
}

/* 팝업 */
  
  /* 실제 팝업 */
  .popup{
  	position:relative;
  	/*z-index:10;*/
  	margin:0 auto;
  	margin-bottom:10vh;
    width:60vw;
    height:23vh;
    /*line-height:23vh;*/
    border-radius:10px;
    background-color:#ffffff;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);   
  }
  

 /* 팝업 텍스트 들어가는 배경 */
  .popup-body{
  	margin:0 auto;
    width:80%;
    height:16vh;
    background-color:#ffffff;
  }
  /* 글씨 콘텐츠 감싸는 box */
  .body-content{
	text-align:center;
  	width:100%;
    padding:22% 0px;
  }
  /* 글씨 */
  .body-content p {
  	width:100%;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  .body-content #p_one {
  	width:100%;
    margin-bottom: 1vh;
    font-size: 2em;
    font-weight: bold;
}

  /* footer */
  .popup-foot{
  	border-radius: 0px 0px 10px 10px;
  	background-color:#0c1477;
    width:100%;
    height:7vh;
    text-align: center;
  }
  .popup-foot button{
  	border:none;
  	padding:0;
    text-align: center;
    background-color:#0c1477;
    color: white;
    height:6.5vh;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  
  #bg {
  	background-color:rgba(0,0,0,.3);
  	position:fixed;
  	top:0;
  	left:0;
    right:0;
    bottom:0;
  	
}

/* 미디어 쿼리 */
  @media screen and (min-height: 640px) and (max-height: 655px) { 
    .body-content{
  	width:100%;
    padding:29% 0px;
  }
}
  @media screen and (min-height: 670px) and (max-height: 900px) { 
    .body-content{
  	width:100%;
    padding:28% 0px;
  }
}
 @media screen and (min-height: 901px) and (max-height: 920px) { 
    .body-content{
  	width:100%;
    padding:30% 0px;
  }
}
 @media screen and (min-height: 1050px) and (max-height: 1180px) { 
    .body-content{
  	width:100%;
    padding:19% 0px;
  }
  .body-content #p_one {
	font-size:3em;
  }
}
 @media screen and (min-height: 1000px) and (max-height: 1025px) { 
    .body-content{
  	width:100%;
    padding:18% 0px;
  }
  .body-content #p_one {
	font-size:2.5em;
  }
}