@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
   
   .nanumbarungothic * {
    font-family: 'NanumBarunGothic', sans-serif;
   }
 
/* layout */
 html, body {
    width: 100%;
    height: 100%;
}

/* wrapper */
#wrapper {
    width: 100%;
    height: 40%;
}

/* header */
header {
    height: 10vh;
    background-color: #0c1476;
}
header #header_main {
    height: 10vh;
    background-color: #0c1476;
    text-align: center;
    line-height: 10vh;
}
header #header_main h1 {
    font-size: 1.4em;
    font-family: 'NanumBarunGothic', sans-serif;
    color: white;
}
header #header_main .material-icons-round {
	height: 9vh;
	color: white;
	background-color: #0c1476;
	float : left;
	line-height: 10vh;
	padding-left : 3vh;
	border: 0px;
}

/* nav_1 등교 */
#nav_1 {
    height: 45vh;
}
#nav_1 #nav_title_1 {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
#nav_1 #nav_title_1 h2 {
    font-size: 1.5em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    margin-left: 4vw;
    letter-spacing: 0.5vw;
}
#nav_1 #nav_box_1 button {
    width: 80vw;
    height: 10vh;
    font-size: 1.5em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    background-color: white;
    text-align: left;
    margin-left: 10vw;
    font-weight: bold;
}
#nav_1 #nav_box_1 #Button01 {
    margin-top: 1vh;
}

/* nav_2 하교 */
#nav_2 {
    height: 45vh;
}
#nav_2 #nav_title_2 {
    height: 7vh;
    background-color: rgb(231, 231, 231);
}
#nav_2 #nav_title_2 h2 {
    font-size: 1.5em;
    font-family: 'NanumBarunGothic', sans-serif;
    font-weight: bold;
    line-height: 7vh;
    margin-left: 4vw;
    letter-spacing: 0.5vw;
}
#nav_2 #nav_box_2 button {
    width: 80vw;
    height: 10vh;
    font-size: 1.5em;
    font-family: 'NanumBarunGothic', sans-serif;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    background-color: white;
    text-align: left;
    margin-left: 10vw;
    font-weight: bold;
}
#nav_2 #nav_box_2 #Button1 {
    margin-top: 1vh;
}
/* 팝업 */
  /* 실제 팝업 */
  .popup{
  	position:relative;
  	margin:0 auto;
  	margin-bottom:10vh;
    width:60vw;
    height:23vh;
    border-radius:10px;
    background-color:#ffffff;
    box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
  }

 /* 팝업 텍스트 들어가는 배경 */
  .popup-body{
  	margin:0 auto;
    width:80%;
    height:16vh;
    background-color:#ffffff;
  }
  /* 글씨 콘텐츠 감싸는 box */
  .body-content{
	text-align:center;
  	width:100%;
    padding:12.5% 0px;
  }
  /* 글씨 */
  .body-content p {
  	width:100%;
    text-align: center;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  .body-content #p_one {
  	width:100%;
    margin-bottom: 1vh;
    font-size: 2em;
    font-weight: bold;
}

  /* footer */
  .popup-foot{
  	border-radius: 0px 0px 10px 10px;
  	background-color:#0c1477;
    width:100%;
    height:7vh;
    text-align: center;
  }
  .popup-foot button{
  	border:none;
  	padding:0;
    text-align: center;
    background-color:#0c1477;
    color: white;
    height:6.5vh;
    font-size: 1em;
    font-family: 'NanumBarunGothic', sans-serif;
  }
  
  #bg {
  	background-color:rgba(0,0,0,.3);
  	position:fixed;
  	top:0;
  	left:0;
    right:0;
    bottom:0;
  	
}
